version: '3'

volumes: 
    taiga_db:
    taiga_media:

services:
    db:
        image: postgres
        restart: always
        env_file:
            - variables.env
        volumes:
            - taiga_db:/var/lib/postgresql/data
    
    rabbit:
        image: rabbitmq
        restart: always
        env_file:
            - variables.env
    
    app:
        image: thelastbilly/taigacontained
        #build: .
        restart: always
        links:
            - db
            - rabbit
        volumes: 
            - ./configs/locks:/locks
            - ./certs:/certs
            - ./settings.csr:/cert_gen/settings.csr

            - ./configs/events/config.json:/taiga/taiga-events/config.json
            - ./configs/frontend/conf.json:/taiga/taiga-front/dist/conf.json
            - ./configs/backend/local.py:/taiga/taiga-back/settings/local.py

            - taiga_media:/taiga/taiga-back/media
        
        env_file:
            - variables.env
            
        ports:
            - 9200:443